{% extends 'admin/base.html.twig' %}

{% block title %}Appointment{% endblock %}

{% block body %}
    <h1>Appointment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ appointment.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ appointment.date ? appointment.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>NbUser</th>
                <td>{{ appointment.nbUser }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_appointment_index') }}">back to list</a>

    <a href="{{ path('app_admin_appointment_edit', {'id': appointment.id}) }}">edit</a>

    {{ include('admin/admin_appointment/_delete_form.html.twig') }}
{% endblock %}
