{% extends 'base.html.twig' %}

{% block title %}Chevaux{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-secondary text-center mt-5"> Les chevaux</h1>
    <div class="row">
        {% for horse in horses %}
        <div class="col col-lg-4 d-flex justify-content-center">
            <div class="card mt-2 mb-2 bg-transparent text-white border-0" >
                <div data-bs-target="#myModal{{ horse.id}}" data-bs-toggle="modal">
                    <img src="uploads/images/{{ horse.image }}" alt="{{ horse.name }}" class="img-fluid">
                </div>
                <div class="card-body">
                    <h2 class="card-title text-center">{{ horse.name }}</h2>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    {% for horse in horses %}
    <div class="modal fade mt-5" id="myModal{{ horse.id }}" tabindex="-1" aria-labelledby="myModal{{ horse.id }}"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-primary">
                <div class="modal-header">
                    <h1 class=" text-secondary modal-title fs-5" id="exampleModalLabel">{{ horse.name }}</h1>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">

                    </button>
                </div>
                    <div class="modal-body">
                        <div class="row mt-2">
                            <h2 class="col text-secondary"> Race </h2>
                            <p class="col text-white">{{ horse.breed }}</p>
                        </div>
                            <h2 class="mt-2 text-secondary"> Personnalité </h2>
                            <p class="text-white">{{ horse.personality }}</p>
                            <h2 class="mt-2 text-secondary"> Compétences </h2>
                            <p class="text-white">{{ horse.skill }}</p>
                    </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
